body {
    background: #CDDEF1;
}

header {
    margin-bottom: 30px;
}
h1 {
    font-weight: 800;
    line-height: 1.5;
}

form {
    padding: 30px;
    border-radius: 10px;
    display: flex;
}

a {
    color: #757DDF;
}

footer {
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
    font-weight: 800;
}
.container {
margin: 120px auto;
max-width: 600px;
}

.search-bar{
    padding: 16px;
    border-radius: 50px;
    width: 80%;
}

.search-button {
    margin-left: 10px;
    border-radius: 50px;
    padding: 14px 24px;

}

.horoscope {
    font-size: 16px;
    line-height: 2;
    padding: 20px 40px;
    border-radius: 50px;
    line-height: 2;
    background-color: #9D9BDE;
    font-weight: 500;
    box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.3);

}

